@import "tailwindcss";


@theme {
  --color-primary: #FF4000; 
  --color-grey: #E1DFE1;
  --color-blue: #3E424A;
  --color-dark-blue: #10151F;
  --border-width-thin: 1px;
}


@layer base {
  html, body {
    font-family: "Poppins", sans-serif !important;
    color: #10151F !important;
  }
}


.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-menu,
.ant-form,
.ant-modal,
.ant-card {
  font-family: "Poppins", sans-serif !important;
  color: #10151F !important;
}

.no-border-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}
.card-style .ant-card-body{
  padding: 0 !important;
}

.ant-pagination .ant-pagination-item-active  {
  border-color: #FF4000 !important
}
.ant-pagination .ant-pagination-item-active a {
  color: #FF4000 !important
}

.ant-pagination .ant-pagination-item {
  border-color: #F8F6F7;
}
.ant-pagination .ant-pagination-item a{
  color: #212B36;
}


.ant-select:hover .ant-select-selector,
.ant-select-focused .ant-select-selector {
  border-color: #FF4000 !important; 
  box-shadow: 0 0 0 2px rgba(255, 64, 0, 0.2) !important; 
}


.ant-select-item-option-selected {
  background-color: #FF4000 !important;
  color: white !important
}



.ant-input:hover,
.ant-input:focus,
.ant-input-focused {
  border-color: #FF4000 !important; 
  box-shadow: 0 0 0 2px rgba(255, 64, 0, 0.2) !important; 
}


.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #FF4000 !important;
  box-shadow: 0 0 0 2px rgba(255, 64, 0, 0.2) !important;
}


.ant-input-disabled:hover,
.ant-input-affix-wrapper-disabled:hover {
  border-color: #d9d9d9 !important;
}



.ant-spin-dot i {
  background-color: #FF4000 !important; 
}


.custom-placeholder .ant-input::placeholder {
  color: #3E424A !important;
  opacity: 1 !important;
}

